:root {
    --background-color: #FFFFFF;
    --main-text-color: rgb(24, 24, 24);
    --effect-color: #FFFFFF;
    --black-color: #000000;
    --grid-color: rgb(24, 24, 24);
    --button-color: rgb(50, 50, 50);
    --brightness-color: #FFFFFF;
    --blur-color: rgb(32, 32, 32);
    transition: all 3s;
}

.darkmode {
    --background-color: #000000;
    --main-text-color: rgb(223, 223, 223);
    --effect-color: #8b8b8b;
    --black-color: #000000;
    --grid-color: rgb(148, 148, 148);
    --button-color: rgb(50, 50, 50);
    --brightness-color: #000000;
    --blur-color: rgb(71, 71, 71);
    transition: all 3s;
}

.lightmode {
    --background-color: #FFFFFF;
    --main-text-color: rgb(24, 24, 24);
    --effect-color: #FFFFFF;
    --black-color: #000000;
    --grid-color: rgb(24, 24, 24);
    --button-color: rgb(50, 50, 50);
    --brightness-color: #FFFFFF;
    --blur-color: rgb(32, 32, 32);
}

#theme-switch {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--button-color);
    left: 96%;
    top: 91vh;
    animation: 3s ease 0s 1 load-from-below;
}

#theme-switch {
    fill: var(--grid-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

body {
    background-color: var(--background-color);
    display: grid;
    overflow: hidden;
    animation: 2s ease-in-out 0s 1 brightness;
}

@keyframes brightness {
    0% {
      background-color: var(--black-color);
    }
    100% {
        background-color: var(--brightness-color);
    }
  }

@font-face {
    font-family: 'Akira'; /*a name to be used later*/
    src: url('Akira Expanded Demo.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Bahn'; /*a name to be used later*/
    src: url('BAHNSCHRIFT.TTF'); /*URL to font*/
}


h1 {
    display: block;
    position: relative;
    color: var(--main-text-color);
    text-align: left;
    font-family:'Bahn';
    font-size: 30px;
    padding-left: 20px;
    top: -60px;
    animation: 3s ease 0s 1 load-from-below;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.container {
    display: grid;
    place-items: center;
    margin: auto;
    padding-bottom: 150px;
    bottom: 1000px;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 0px 0px;
    animation: 3s ease 0s 1 load-from-below;
    
}

.container > div {
    border: 0px solid rgb(0, 0, 0);
    background-color: var(--grid-color);
    width: 100px;
    height: 150px;

}

p {
    opacity: 0;
    animation: 3s ease-in-out 2s 1 fadeInTexts forwards;
}

@keyframes fadeInTexts {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fadeInAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.top-window {
    z-index: 5;
}

.on-hover-left {
    display: block;
    position: relative;
    transition: 1s;
    right: 0px;
    
}


.on-hover-left:hover {

    filter: drop-shadow(10px 2px 5px #000000);
    transition: 1s;
    transform: scale(3);
}

.on-hover-right {
    display: block;
    position: relative;
    transition: 1s ease-in-out;
    left: 0px;
    top: 0px
}

.on-hover-right:hover {

    filter: drop-shadow(-10px 2px 5px #000000);
    transition: 1s;
    top: 100px;
    transform: scale(3);
    
}

.on-hover-CV {
    display: block;
    position: relative;
    transition: 1s ease-in-out;
    left: 0px;
    bottom: 0px;
    z-index: 2;
}

.on-hover-CV:hover {

    filter: drop-shadow(-10px 2px 5px #000000);
    transition: 1s;
    bottom: 100px;
    transform: scale(3);
    
}

.on-hover-high-z-index {
    display: block;
    position: relative;
    transition: 1s;
    right: 0px;
    z-index: 1;
}


.on-hover-high-z-index:hover {

    
    transition: 1s;
    filter: drop-shadow(10px 2px 5px #000000);
    transform: scale(3);
    z-index: 6;
}

.on-hover-high-z-index-bottom {
    display: block;
    position: relative;
    transition: 1s;
    right: 0px;
    z-index: 2;
}


.on-hover-high-z-index-bottom:hover {

    filter: drop-shadow(10px 2px 5px #000000);
    transition: 1s;
    transform: scale(3);
    z-index: 3;
}
 

@keyframes hoverScale {
    
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(3);
    }

}

.high-zindex {
    z-index: 2;
}

.bg-wrapper {
    background-color: var(--background-color);
    width: 420px;
    position: absolute;
    height: 730px;
    margin-left: 50vh;
    margin-right: 50vh;
    top: 120px;
    left: 277px;
    z-index: -1;
    animation: 6s ease-in-out 0s 1 brightness-wrapper;
    animation: 3s ease 0s 1 load-from-below;
}

@keyframes load-from-below {
    0% {
        transform: translate(0px, 100vh);
    }

    100% {
        transform: translate(0px , 0vh);
    }
}

@keyframes brightness-wrapper {
    0% {
      background-color: var(--black-color);
    }
    100% {
        background-color: var(--background-color);
    }
}

.blur-effect {
    background-color: var(--blur-color);
    filter: blur(30px);
    width: 470px;
    position: absolute;
    height: 800px;
    margin-left: 50vh;
    margin-right: 50vh;
    top: 80px;
    left: 240px;
    z-index: -2;
    animation: 8s ease-in-out 0s 1 blur-wrapper;
    
}

@keyframes blur-wrapper {
    0% {
      background-color: var(--black-color);
      opacity: 0;
    }
    100% {
        opacity: 1;
        background-color: var(--blur-color);
    }
}

p {
    position:relative;
    color: aliceblue;
    font-family: 'Akira';
    font-size: 60px;
    line-height: 0px;
    top: -15px;
    left: 22px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}